
.container{
  justify-content: center;
  max-width: 600px;
  max-height: 720px;
  /* margin: 0 auto; */
  margin-top:6%;
  margin-bottom: 28%;
  margin-left: 34%;
  padding: 20px;
  background-color: rgba(252, 251, 251, 0.807);
  border-radius: 15px;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.1);
}

.button{
  margin: 1rem;
  
}