.contacto {
  display: flex;
  justify-content: center;
  align-items: center;

}

.contacto-container {
  border: 3px solid #815c70;
  font-family: 'Nunito Sans', sans-serif;
  padding: 1rem;
  margin: 0.75rem;
  background: #ffffff;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  height: auto;
  /* width: 50%; */
  border-radius: 0.75rem;
  margin-top: 6%;
  margin-bottom: 28%;
}

.contacto-container p {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;

}


.contacto-info h1 {
  justify-content: center;
  text-align: center;

}

.contacto-info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contacto-detalles {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.contacto-detalles ul {
  font-size: 1.5rem;
}

.contacto-mapa {
  flex: 1;
  padding: 20px;
  max-width: fit-content;
}

.contacto-redes-sociales {

  align-items: start;
  font-size: 2.0rem;
}

.contacto-redes-sociales a {
  margin-left: 0.75rem;
}