.footer {
    background-color: #2f1e27db;
}

.columna3footer {
    font-family: 'Nunito Sans', sans-serif;

    float: left;
    margin-left: 20px;
    font-size: 27px;
    margin-top: 30px;
    color: aliceblue;
}


.imagendefooter {
    margin-top: 30px;
    float: right;
    margin-right: 0;
    width: 100px;
    border-radius: 80%;
}