.footer{
    background-color: #a7815e;
    margin-left: 0;
    margin-right: 0;
}

.columna1footer{
    font-family: 'Dancing Script', cursive;
    margin-left: 50px;
    font-size: 20px;

    margin-top: 35px;
    color: aliceblue;
}

.columna2footer{
    font-family: 'Dancing Script', cursive;
    margin-top: 35px;
    font-size: 20px;

    color: aliceblue;
}

.columna3footer{
    font-family: 'Dancing Script', cursive;
    margin-top: 35px;
    font-size: 24px;
    color: aliceblue;

}
.imagendefooter{
    width: 90px;
    margin-top: 30px;
    border-radius: 80%;
}

