
.resena-historica{
    background: #f9f9f9;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.vision{
    background: #f9f9f9;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.mision{
    background: #f9f9f9;
    padding: 2rem;
    margin: 2rem;
}

.factor-diferenciador{
    background: #f9f9f9;
    padding: 2rem;
    margin: 2rem;
}