.colorenlace {
    color: #EAEAEA !important
}

.colornavbar{
    background-color: #2f1e27db;
}

.colorfooter{
    background-color: #2f1e27db ;
}

.btn-brand {
    color: #FFFFFF;
    font-weight: 500;
    border-color: #C99734;
    background-color: #C99734;
}

