.colorenlace {
    color: #EAEAEA !important
}

.colornavbar {
    background-color: #a7815e;
}

.nav-item {
    font-size: 20px;
    font-family: 'Dancing Script', cursive; 

}

/* .colorfooter{
    /* background-color: #2f1e27db ; */
/*      
} */
*/ .navbar-logo-img {
    height: 60px;
    width: 130px;
}

.text-color {
    color: #201a11e4;
    font-family: 'Oleo Script', cursive;
}

#app {
    --bs-gutter-x: 0;
}



