body {
    background-image: url(https://img.freepik.com/premium-vector/hand-drawn-bakery-white-background-seamless-pattern-retro-style_505564-1509.jpg?w=2000);
    backdrop-filter: blur(1px);
    margin: 0;
    padding: 0;
    bs-gutter-x: 1.5rem;
}


.form-content {
    justify-content: center;
    max-width: 600px;
    max-height: 720px;
    /* margin: 0 auto; */
    margin-top: 6%;
    margin-bottom: 28%;
    margin-left: 34%;
    padding: 20px;
    background-color: rgba(252, 251, 251, 0.807);
    border-radius: 15px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.1);
    /* margin-top: 100px;
    width: 300%;
    max-width: 500px;
    max-height: 520px;
    background-color: #422f39db;
    padding: 55px 40px 70px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 15px #dad2d6db; */
}

.form-content h1 {
    font-size: 30px;
    margin-bottom: 30px;
    color: #FFFFFF;
    position: relative;
}

.form-content h1::after {
    content: '';
    width: 50px;
    height: 4px;
    border-radius: 3px;
    background-color: #C99734;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}

.input-field {
    background-color: #E8F0FE;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 250px; */
}

.btn-field button.disable {
    background-color: #EAEAEA;
    color: #2C2F35;
    width: 130px;
}

.form-content {
    margin-top: 100px;
    width: 300%;
    max-width: 500px;
    max-height: 520px;
    background-color: #422f39a2;
    padding: 55px 40px 70px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 15px #422f39db;
}

.form-content h1 {
    font-size: 30px;
    margin-bottom: 30px;
    color: #FFFFFF;
    position: relative;
}

.form-content h1::after {
    content: '';
    width: 50px;
    height: 4px;
    border-radius: 3px;
    background-color: #C99734;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}

.input-field {
    background-color: #E8F0FE;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 05s;
    overflow: hidden;
    border-radius: 25px;
}

input {
    width: 100%;
    background: transparent;
    border: 1px solid #ccc;

    outline: none;
    padding: 10px 10px;
    color: black;
}

input::placeholder {
    color: #7b5915b9;
}

.input-field i {
    margin-left: 15px;
    color: #C99734;
}

form p {

    color: #FFFFFF;
    text-align: center;
    font-size: 13px;
}

form p a {
    color: #C99734;
    margin-left: 5px;
}

.btn-field {
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
}

.btn-field button {
    /* flex-basis:48%; */
    margin-top: 2%;
    padding-bottom: 2px;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    font-size: 16px;
    background-color: #a7815e;
    color: white;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group {
    justify-content: center;
    height: 250px;
}

.btn-field button.disable {
    background-color: #EAEAEA;
    color: #2C2F35;
    width: 130px;
}

#Login {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    background-color: #a7815e;
}