/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
} */

.containnn {
    justify-content: center;
    max-width: 600px;
    max-height: 720px;
    /* margin: 0 auto; */
    margin-top: 10%;
    margin-bottom: 28%;
    margin-left: 32%;
    padding: 20px;
    background-color: rgba(252, 251, 251, 0.807);
    border-radius: 15px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.1);
}

.reservademesa {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin-bottom: 10%;
}


label {
    font-family: 'Oswald', sans-serif;
    display: block;
}

/* input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
} */

#nombre {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Oswald', sans-serif;

}

#email {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Oswald', sans-serif;

}

#fecha {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Oswald', sans-serif;

}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Oswald', sans-serif;


}

button[type="button"] {
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    background-color: #926E4C;
    /* width: 120px; */
    color: #fff;
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

/* 
button[type="button"]:hover {
    background-color: #b179b87e;
} */

.pagar,
.reservar {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    /* width: 120px; */
    color: #fff;
    display: inline-block;
    margin: 0 auto;
    margin-top: 5%;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #a7815e;
    
}

/* h6{
    color: #0c3582be;
} */